<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADDBLOG</title>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/nav') %>

    <form>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="title"
     class="form-control"
      id="title"
       name="title" 
       aria-describedby="title"
       >
      </div>
      <div class="mb-3">
    <label for="body" class="form-label">Body</label>
    <textarea class="form-control" id="floatingTextarea"></textarea>
      </div>

</form>

    <%- include('./partials/script') %>
</body>
</html>