<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <div>signup</div>
    <form method="post" action="/user">
        <label >Enter your name</label>
        <input type="text" name="name">
    <label >Enter your name</label>
        <input type="text" name="email">
    <label >Enter your name</label>
        <input type="text" name="password">
    <button type="submit">Signup</button>
    </form>
</body>
</html>